<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 50px">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <img
            src="../../../assets/icons/edit.png"
            alt=""
            style="width: 128px"
          />
        </div>
        <h1 class="text-center">Register Here</h1>
        <form>
          <!-- Username Field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your username" />
          </mat-form-field>

          <!-- Password Field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" />
          </mat-form-field>

          <!-- First name Field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your first name" />
          </mat-form-field>

          <!-- Last name Field -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter your last name" />
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>
